body {
  color: white;
  background-color: green;
}

.title {
  grid-area: header;
}
.board {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

.red {
  color: red
}

.blue {
  color: blue
}