body {
  color: white;
  background-color: rgb(70, 70, 70);
}

.title {
  grid-area: header;
}
.board {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

.red {
  border: 2px solid rgb(214, 107, 107);
  color: red;
}

.blue {
  border: 2px solid rgb(125, 169, 184);
  color: blue;
}

.white {
  border: 2px solid grey;
  color: white;
}

.winnerblue {
  border: 5px solid blue;
  color:blue;
}

.winnerred {
  border: 5px solid red;
  color: red;
}